[Desktop Entry]
Version=1.0
Type=Application

Name=DevilsBook
Comment=The dark notes app — the Devil's own grimoire.
Comment[cs]=Aplikace pro psaní poznámek uzpůsobená pro ruční psaní.
Categories=Office;WordProcessor;

Icon=com.adilhanney.devilsbook
Exec=devilsbook
MimeType=application/sbn;application/sbn2;application/sba
Terminal=false
StartupWMClass=devilsbook
